:root{
	--switch_height:26px;
	--switch_width:70px;
	--theme_color:#ff9900;
}

body{
	width: 150px;
	margin: 0;
}

.content-div{
	padding-bottom:20%;
}

.switch-content{
	margin: 10% 0;
}


.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.target-text{
	font-size: 15px;
	text-align: center;
	margin: 2%;
	padding: 10% 0;
}

.switch-text{
	text-align: center;
}

.switch-div{
	width: min-content;
    margin: auto;
    margin-top: 5%;
}

.settings{
	text-align: center;
    margin-top: 10%;
}

.color-slider-div{
	margin: 0.5rem 0;
}

.save-btn{
	color: black;
    background-color: #93787800;
    border: 1px solid black;
	padding: 0.3rem 1rem;
	cursor: pointer;

}

.save-btn:focus{
	color: black;
    background-color: #93787800;
    border: 1px solid black;
}

.maker-tag{
	background-color:var(--theme_color) ;
	color:white;
	text-align: center;
	padding: 4px;
}

.disable-link{
	color: white;
	text-decoration: underline;
}

.disable-link:hover{
	color: white;
	text-decoration: underline;
}

.switch{
	position: relative;
	display: inline-block;
	height: var(--switch_height);
	width: var(--switch_width);
}

.switch input{
	opacity: 0;
	height: 0px;
	width: 0px;
	display: none;
}

.switch-span:before{
	position: absolute;
	content: "";
	height: calc( var(--switch_height) - 3px );
	width: calc( var(--switch_height) - 3px );
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--theme_color);
	transition: .4s;
	margin: 3px
}

.switch-span{
	position: absolute;
	width: calc( var(--switch_width) - 3px );
	height: calc( var(--switch_height) - 3px );
	background-color: #ededed;
	transition: .4s;
	padding: 3px;
}

input:checked + .switch-span{
	background-color: var(--theme_color);
}

.switch>input:checked + .switch-span:before{
	transform: translateX( calc( var(--switch_width) - var(--switch_height) ) );
	background-color: white;
}





















